a,
button,
.hover,
.selectable-row .ant-table-row,
.clickable-row .ant-table-row {
    transition: scale 200ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    scale: 1;
}


.selectable-row .ant-table-row:hover {
    scale: 1.012;
}

.selectable-row .ant-table-row:active {
    scale: 0.999;
}

.hover:hover,
button:hover {
    scale: 1.02;
}

a:hover,
.clickable-row .ant-table-row:hover {
    scale: 1.01;
}

a:active,
.hover:active,
.clickable-row .ant-table-row:active {
    scale: 0.99;
}