@import url("./app/tools/styles/animations.css");
@import url("./app/tools/styles/states.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

h4 {
  font-size: 1.4rem;
  margin-bottom: 0.2rem;
}

input {
  padding: 5px 12px;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

input:focus {
  border-color: #0366d6;
  outline: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}